.slate-editor {
    padding: 1em;
    border: 1px solid black;
    line-height: 2em;
}

.custom-toolbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: 0.5em;

    background: black;

    padding: 0.25em;
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    border-radius: 3px;
    transition: opacity .75s;
}

.custom-toolbar button {
    cursor: pointer;
    background: lightgray;
    border: none;
}

.custom-block-node {
    border: 1px solid rgba(124, 219, 124, 1);
    border-left: none;
    border-right: none;
    background: rgba(124, 219, 124, 0.836);
    padding: 4px 0;
}
.custom-block-node:hover {
    background: rgba(103, 201, 103, 0.836);
}

.custom-inline-node {
    border: 1px solid rgb(149, 174, 228);
    border-left: none;
    border-right: none;
    background: rgba(149, 174, 228, 0.836);
    padding: 4px 0;
}
.custom-inline-node:hover {
    background: rgba(149, 174, 228, 0.836);
}