.slate-editor {
    padding: 1em;
    border: 1px solid black;
    line-height: 2em;
}

.custom-toolbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: 0.5em;

    background: black;

    padding: 0.25em;
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    border-radius: 3px;
    transition: opacity .75s;
}

.custom-toolbar button {
    cursor: pointer;
    background: grey;
    border: none;
}

.code-block {
    border: 1px solid rgba(124, 219, 124, 1);
    background: rgba(124, 219, 124, 0.836);
    padding: 4px 0;
}