.entity-labeler {
}

.slate-editor {
    padding: 1em;
    border: 1px solid black;
    line-height: 2em;
}

.custom-toolbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: 0.5em;

    background: black;

    padding: 0.25em;
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    border-radius: 3px;
    transition: opacity .75s;
}

.custom-toolbar button {
    cursor: pointer;
    background: lightgray;
    border: none;
}

:root {
    --custom-entity-color: rgba(149, 228, 169, 0.836);
    --custom-entity-color-hover: rgb(149, 228, 169);
    --prebuilt-entity-color: rgba(149, 174, 228, 0.836);
    --prebuilt-entity-color-hover: rgb(149, 174, 228);
}

.prebuilt-entity-editors .slate-editor:not(:last-of-type) {
    border-bottom: none;
}

.entity-inline-node {
    direction: inline-block;
    border: 1px solid rgba(0,0,0,0.3);
    border-left: none;
    border-right: none;
    background: rgba(0,0,0,0.2);
    padding: 4px 0;
    border-radius: 4px;
}

.entity-inline-node.entity-inline-node--custom {
    border-color: var(--custom-entity-color-hover);
    background-color: var(--custom-entity-color);
}
.entity-inline-node.entity-inline-node--custom:hover {
    background-color: var(--custom-entity-color-hover);
}

.entity-inline-node.entity-inline-node--prebuilt {
    border-color: var(--prebuilt-entity-color-hover);
    background-color: var(--prebuilt-entity-color);
}
.entity-inline-node.entity-inline-node--prebuilt:hover {
    background-color: var(--prebuilt-entity-color-hover);
}