.mention-prototype {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1em;
}

.mention-editor-container {
    position: relative;
}
.mention-editor {
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.125em 0.5em;
    line-height: 2em;
}